section{
  /*margin:40px 80px;*/
}
h1{
  color: #014DBF;
}
.title{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.profile{
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.profile img{
  width: 120px;
  height: 120px;
  border-radius: 10%;
  margin-right: 80px;
}

.name__profile{
  display: flex;
  flex-direction: column;
}
/*.form{*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  flex-wrap: wrap;*/
/*}*/

.form__section1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 20px;
}
.form__section2{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form__section2__two{
  display: flex;
  justify-content: space-around;
}
mat-form-field{
  border: 2px solid #014DBF;

}
.form__twosection{
  display: flex;
  justify-content: space-around;
}


.form__section3{
  display: flex;
  flex-direction: column;
  /*width: 100%;*/
}
.form__section4{
  display: flex;
  flex-direction: column;
}

.form__button {
  display: flex;
  justify-content: center;

}
button{
  width: 20%;
  background-color: #014DBF;

}


.icons{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;
  /*justify-content: center;*/
  /*width: 100%;*/
}



.circle {
  width: 80px;
  height: 80px;
  background-color: #B0D0FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin-right: 10px;*/

}
.icon-container__1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.icon-container__2{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.icon-container__3{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.icon-container__4{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}



mat-form-field{
  border-color: #B0D0FF;
}



/* Estilos generales para pantallas grandes */
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 502px) {

  .icons h4{
    margin-right: 20px;
  }

}

@media screen and (max-width: 700px) {

  .icons{
    display: flex;
    flex-wrap: wrap;
  }
  .profile img{
    width: 70px;
    height: 70px;
    border-radius: 10%;
    margin-right: 10px;
  }

  .name__profile h2{
    font-size: 20px;
  }
  .form__twosection{
    display: flex;
    flex-wrap: wrap;
  }
  .form__section1 {
    width: 100%;
    margin-right: 0;
  }
  .form__section1 {
    margin: 12px;
  }
  .form__section2 {
    margin: 12px;
  }
  .form__section3 {
    margin: 12px;

  }
  .form__section4 {
    margin: 12px;
  }

  .form__section2{
    width: 100%;
  }
  .form__section2__two{
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
  }

  .icon-container__1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-container__2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon-container__3{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon-container__4{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button{
    padding: 25px;
  }
}


/* Media query para pantallas medianas */
@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
  }

  .profile {
    margin-top: 20px;
  }
  .icons{
    display: flex;
    flex-wrap: wrap;
  }
  .form__section2__two{
    display: flex;
    flex-wrap: wrap;
  }
  .form__section2__two mat-form-field{
    /*margin: 12px 0;*/
  }

}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 480px) {
  .title h1 {
    font-size: 24px;
  }

  .profile img {
    max-width: 100%;
  }

  .form {
    margin-top: 20px;
  }

}
@media screen and (max-width: 500px) {
  button{
    width: 55%;
  }

}
