.page {
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: #F5F5F8;

}
.contents {
  width: 100%;
  height: auto;
  margin-left:248px;
  margin-right: 200px;

}
.sidenav {
  height: 100%;
}

.contents .header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.profile-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.profile-header_left{
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile-header_left h1{
  color: #014DBF;
  /* v-text/h3 */
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 104.167% */
}

.custom-box {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #014DBF;
  color: #fff;
  padding: 5px 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex; /* Para alinear elementos verticalmente */
  align-items: flex-start; /* Para alinear elementos en la esquina superior */
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
}

.consult-text {
  font-size: 12px; /* Tamaño de fuente pequeño */
  color: #e0e0e0; /* Color de texto plomo */
  margin-top: 2px; /* Espacio superior para separar del texto principal */
}

.text {
  font-weight: normal;
}

.text strong{
  font-weight: 500;
  color: gray;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  position: relative;
  right: -5px
}

.flex-container::after {
  content: "";
  height: 1px; /* Grosor del borde */
  background-color: #014DBF; /* Color del borde */
  position: absolute;
  top: 0;
  right: 0;
  width: 85%; /* Ancho del borde superior restante */
}

.flex-container2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;


}
.flex-container2 .icon {

  background-color: #B0D0FF;
  width: 80px;
  height: 80px;
  margin-top: 10px;

  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 100px;
}

img {
  height: 111px;
  width:111px;
  border-radius: 10px;
}

.item {
  display: flex;
  flex-flow: row wrap;
  gap: 41px;
}

.item .description {
  text-align: center;
}

.item .icon img {
  width: auto;
  height: auto;
  margin: 20px;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

}

.form__twosection{
  display: flex;
  justify-content: space-around;
}

.form__section1 {
  display: flex;
  flex-direction: column;
  width: 59%;
  margin-right: 20px;
}
.form__section2{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form__section2__two{
  display: flex;
  justify-content: space-around;
}




.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
  border: 0.2px solid #B0D0FF;
  opacity: 1;
}

.form__section3{
  display: flex;
  flex-direction: column;
  /*width: 100%;*/
}
.form__section4{
  display: flex;
  flex-direction: column;
}

.form__button {
  display: flex;
  justify-content: center;

}

.button {
  height: 50px;
  width:20%;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

@media screen and (max-width: 502px) {
  .icons h4{
    margin-right: 20px;
  }

}

@media screen and (max-width: 700px) {
  .icons{
    display: flex;
    flex-wrap: wrap;
  }
  .profile img{
    width: 70px;
    height: 70px;
    border-radius: 10%;
    margin-right: 10px;
  }

  .name__profile h2{
    font-size: 20px;
  }
  .form__twosection{
    display: flex;
    flex-wrap: wrap;
  }
  .form__section1 {
    width: 100%;
    margin-right: 0;
  }
  .form__section1 {
    margin: 12px;
  }
  .form__section2 {
    margin: 12px;
  }
  .form__section3 {
    margin: 12px;

  }
  .form__section4 {
    margin: 12px;
  }

  .form__section2{
    width: 100%;
  }
  .form__section2__two{
    display: flex;
    flex-direction: column;

  }


  .icon-container__1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-container__2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon-container__3{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon-container__4{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button{
    padding: 25px;
    width: 55%;
  }
}



@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
  }

  .profile {
    margin-top: 20px;
  }
  .icons{
    display: flex;
    flex-wrap: wrap;
  }
  .form__section2__two{
    display: flex;
    flex-wrap: wrap;
  }
  .form__section2__two mat-form-field{
    /*margin: 12px 0;*/
  }
  button{
    width: 55%;
  }

}


@media screen and (max-width: 480px) {
  .title h1 {
    font-size: 24px;
  }

  .profile img {
    max-width: 100%;
  }

  .form {
    margin-top: 20px;
  }

}
@media screen and (max-width: 500px) {
  button{
    width: 55%;
  }

}


