<div class="page">
  <div class="contents">
  <div class="text">
    <div class="title">
      <h1>
        Download Theraphy Mobile App!
      </h1>
    </div>
    <div class="description">
      <h2>
        You will be able to enjoy all the functionalities as a physiotherapist user.
      </h2>
    </div>
    <div class="download-buttons">
      <a href="enlace_a_la_app_en_la_tienda_de_Android" class="download-button-android">
        <img src="https://play.google.com/intl/es-419/badges/static/images/badges/es-419_badge_web_generic.png" alt="Android">

      </a>
      <a href="enlace_a_la_app_en_la_tienda_de_iOS" class="download-button-ios">
        <img src="https://raw.githubusercontent.com/GabrielGomezDlc/PP-Daop/main/src/assets/1280px-Download_on_the_App_Store_Badge_ESMX_RGB_blk.svg_-1024x342.png" alt="iOS">

      </a>
    </div>

  </div>
  <div class="img">
    <div class="image-1">
      <img src="https://raw.githubusercontent.com/GabrielGomezDlc/PP-Daop/main/src/assets/5cb0633d80f2cf201a4c3253.png" alt="phone">
    </div>
    <div class="image-2">
      <img src="https://raw.githubusercontent.com/GabrielGomezDlc/PP-Daop/main/src/assets/5cb0633d80f2cf201a4c3253.png" alt="phone">
    </div>
    <div class="image-3">
      <img src="https://raw.githubusercontent.com/GabrielGomezDlc/PP-Daop/main/src/assets/5cb0633d80f2cf201a4c3253.png" alt="phone">
    </div>


  </div>

  </div>
</div>
