<main id="signupContainer" class="signup-container">
  <div class="signup-section mat-elevation-z10" id="signupForm">
    <div class="signup-form-container" >

      <div class="signup-logo">
        <img src="https://raw.githubusercontent.com/DigitAlholics-3-0/Front-End-Theraphy/master/src/assets/logo-image.png" alt="Theraphy logo" class="logo-image">
        <span class="logo-text">Theraphy</span>
      </div>

      <span class="signup-form-title">Sign Up</span>
      <p>Sign up with your data information</p>

      <form [formGroup]="registerForm" (submit)="registerUser()" class="signup-form">

        <div class="signup-form-general-data">

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="firstname" required [(ngModel)]="user.firstname">
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Apellido</mat-label>
            <input type="text" matInput formControlName="lastname" required [(ngModel)]="user.lastname">
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Correo</mat-label>
            <input type="text" matInput formControlName="username" required [(ngModel)]="user.username">
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input type="text" matInput formControlName="password" required [(ngModel)]="user.password">
          </mat-form-field>

          <mat-form-field class="role-selection">
            <mat-label>Selecciona tu rol:</mat-label>
            <mat-select formControlName="role" [(ngModel)]="user.role" name="role">
              <mat-option value="PATIENT">Paciente</mat-option>
              <mat-option value="PHYSIOTHERAPIST">Physioterapeuta</mat-option>
            </mat-select>
          </mat-form-field>

          <button [disabled]="!registerForm.valid" mat-raised-button color="primary" type="submit" class="signup-button">Create Account</button>
        </div>

      </form>
    </div>
  </div>
</main>



