<main id="signupContainer" class="signup-container">
  <div class="signup-section mat-elevation-z10" id="signupForm">
    <div class="signup-form-container" >

      <div class="signup-logo">
        <img src="https://raw.githubusercontent.com/DigitAlholics-3-0/Front-End-Theraphy/master/src/assets/logo-image.png" alt="Theraphy logo" class="logo-image">
        <span class="logo-text">Theraphy</span>
      </div>

      <span class="signup-form-title">Welcome, you are registering as a patient</span>
      <p>Please enter your personal information</p>

      <form [formGroup]="registerForm" (submit)="submitPatientForm()" class="signup-form">

        <div class="signup-form-general-data">

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>DNI</mat-label>
            <input type="text" matInput formControlName="dni" required [(ngModel)]="patient.dni">
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Age</mat-label>
            <input type="text" matInput formControlName="age" [(ngModel)]="patient.age">
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdayDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>


          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Location</mat-label>
            <input type="text" matInput formControlName="location" required [(ngModel)]="patient.location">
          </mat-form-field>

          <button [disabled]="!registerForm.valid" mat-raised-button color="primary" type="submit" class="signup-button">Create Account</button>
        </div>

      </form>
    </div>
  </div>
</main>
