<!--<div class="page">
  <div class="sidenav">
    <app-sidenav></app-sidenav>
  </div>
  <div class="contents">
    <app-header></app-header>
    <div><div class="patients-infos">

      <div class="patient-info">
        <div class="patient-info_title">
          <h1 [routerLink]="['/medical-appointments']" >My Appointments ></h1>
        </div>
        <div class="patient-info_body">

          <ul>
            <div class="date" *ngFor="let appointment of appointments">
              <div class="date" *ngIf="appointment.patient.id == currentUser
                                    && appointment.done == false.toString()">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
                <li>
                  <h3>{{appointment.scheduledDate}}</h3>
                </li>
              </div>

            </div>


          </ul>
        </div>
      </div>


      <div class="patient-info">
        <div class="patient-info_title">
          <h1 [routerLink]="['/diagnosis']">Diagnosis ></h1>
        </div>
        <div class="patient-info_body">
          <ul>
            <div class="date" *ngFor="let appointment of appointments">
              <div *ngIf="appointment.patient.id == currentUser">
                <div class="date" *ngFor="let physiotherapist of physiotherapists">
                  <img *ngIf="appointment.physiotherapist.id == physiotherapist.id
                          && appointment.done"
                       :src="{{physiotherapist.photoUrl}}">
                  <li>
                    <h3 *ngIf="appointment.physiotherapist.id == physiotherapist.id
                          && appointment.done"
                        class="diagnosis">{{appointment.diagnosis}}</h3>
                  </li>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>


      <div class="patient-info">
        <div class="patient-info_title">
          <h1 [routerLink]="['/my-treatments']">My Treatments ></h1>
        </div>
        <div class="patient-info_body" >
          <ul>
            <div class="date" *ngFor="let treatment of myTreatments">
              <div  class="date" *ngIf="treatment.patient.id == currentUser">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="live_tv"></mat-icon>

                <li>
                  <h3>{{treatment.treatment.title}}</h3>
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>

    </div>

      <div class="progress">
        <div class="progress_title">
          <h1>My Progress ></h1>
        </div>
        <div class="progress_body" >
          <div class="progress-treatments" *ngFor="let treatment of myTreatments">
            <div class="progress-treatment" *ngIf="treatment.patient.id == currentUser">

              <img :src="{{treatment.treatment.photoUrl}}">

              <div class="progress-treatment_left">
                <h2>{{treatment.treatment.title}}</h2>

                <mat-progress-bar mode="determinate" value="{{treatment.progress}}">
                </mat-progress-bar>
                <h3>{{treatment.progress}}%</h3>
              </div>
            </div>
          </div>
        </div>
      </div></div>
  </div>
</div>!-->

<div class="page">
  <div class="contents">

    <div class="profile-header">
      <div class="profile-header_left">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 40 40" fill="none">
          <path d="M33.3333 18.3331V21.6665H13.3333L22.5 30.8331L20.1333 33.1998L6.93332 19.9998L20.1333 6.7998L22.5 9.16647L13.3333 18.3331H33.3333Z" fill="#014DBF"/>
        </svg>
        <h1>Hello, Cristhian</h1>
      </div>
    </div>

    <div class="flex-container">
      <div class="consultations">
        <h3>Consultations</h3>
        <div class="card">
          <p>Physiotherapist card</p>
        </div>
      </div>

      <div class="appointments">
        <h3>Upcoming Appointments</h3>
        <div class="card">
          <p>Appointments card</p>
        </div>
      </div>
    </div>


  </div>
</div>


