<div class="page">
  <div class="sidenav">
    <app-sidenav></app-sidenav>
  </div>
  <div class="contents">

    <div class="profile-header" *ngIf="patient$ | async as patient">
      <div class="profile-header_left">
        <h1>Hello, {{patient.user.firstname}} </h1>
      </div>
    </div>

    <div class="flex-container">
      <div class="consultations" >
        <h3>Upcoming Consultation</h3>
        <div class="card-consultation" *ngIf="lastConsultation">
          <div class="profile-card">
            <img src="{{lastConsultation!.physiotherapist.photoUrl}}" alt="Italian Trulli">
            <div class="description">
              <h4>Dr. {{lastConsultation!.physiotherapist.user.firstname}} {{lastConsultation!.physiotherapist.user.lastname}}</h4>
              <p>{{lastConsultation!.topic}}</p>
            </div>
          </div>

          <div class="detail-consultation">
            <div class="schedule">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M9.5 10V12H7.5V10H9.5ZM13.5 10V12H11.5V10H13.5ZM17.5 10V12H15.5V10H17.5ZM19.5 3C20.0304 3 20.5391 3.21071 20.9142 3.58579C21.2893 3.96086 21.5 4.46957 21.5 5V19C21.5 19.5304 21.2893 20.0391 20.9142 20.4142C20.5391 20.7893 20.0304 21 19.5 21H5.5C4.39 21 3.5 20.1 3.5 19V5C3.5 4.46957 3.71071 3.96086 4.08579 3.58579C4.46086 3.21071 4.96957 3 5.5 3H6.5V1H8.5V3H16.5V1H18.5V3H19.5ZM19.5 19V8H5.5V19H19.5ZM9.5 14V16H7.5V14H9.5ZM13.5 14V16H11.5V14H13.5ZM17.5 14V16H15.5V14H17.5Z" fill="white"/>
              </svg>
              <p class="text2">{{lastConsultation!.date}}</p>
            </div>
            <p class="text2">|</p>
            <div class="time">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M12.5 20C10.6435 20 8.86301 19.2625 7.55025 17.9497C6.2375 16.637 5.5 14.8565 5.5 13C5.5 11.1435 6.2375 9.36301 7.55025 8.05025C8.86301 6.7375 10.6435 6 12.5 6C14.3565 6 16.137 6.7375 17.4497 8.05025C18.7625 9.36301 19.5 11.1435 19.5 13C19.5 14.8565 18.7625 16.637 17.4497 17.9497C16.137 19.2625 14.3565 20 12.5 20ZM19.53 7.39L20.95 5.97C20.5 5.46 20.05 5 19.54 4.56L18.12 6C16.57 4.74 14.62 4 12.5 4C10.1131 4 7.82387 4.94821 6.13604 6.63604C4.44821 8.32387 3.5 10.6131 3.5 13C3.5 15.3869 4.44821 17.6761 6.13604 19.364C7.82387 21.0518 10.1131 22 12.5 22C17.5 22 21.5 17.97 21.5 13C21.5 10.88 20.76 8.93 19.53 7.39ZM11.5 14H13.5V8H11.5M15.5 1H9.5V3H15.5V1Z" fill="white"/>
              </svg>
              <p class="text2" >{{lastConsultation!.hour}}</p>
            </div>
          </div>
        </div>
        <div class="card-no-consultation" *ngIf="!lastConsultation">
          <p>You don't have upcoming consultation</p>
          <img src="assets/img/sad.png">
        </div>

      </div>

      <div class="upcoming-appointments">
        <h3>Upcoming Appointments</h3>
        <div class="appointment-card" >
          <div class="detail-appointment" *ngFor="let appointment of firstThreeAppointments$; let i = index" >
            <div class="schedule">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M9.5 10V12H7.5V10H9.5ZM13.5 10V12H11.5V10H13.5ZM17.5 10V12H15.5V10H17.5ZM19.5 3C20.0304 3 20.5391 3.21071 20.9142 3.58579C21.2893 3.96086 21.5 4.46957 21.5 5V19C21.5 19.5304 21.2893 20.0391 20.9142 20.4142C20.5391 20.7893 20.0304 21 19.5 21H5.5C4.39 21 3.5 20.1 3.5 19V5C3.5 4.46957 3.71071 3.96086 4.08579 3.58579C4.46086 3.21071 4.96957 3 5.5 3H6.5V1H8.5V3H16.5V1H18.5V3H19.5ZM19.5 19V8H5.5V19H19.5ZM9.5 14V16H7.5V14H9.5ZM13.5 14V16H11.5V14H13.5ZM17.5 14V16H15.5V14H17.5Z" fill="#014DBF"/>
              </svg>
              <p class="text3">{{appointment.date}}</p>
            </div>
            <p class="text3">|</p>
            <div class="time">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M12.5 20C10.6435 20 8.86301 19.2625 7.55025 17.9497C6.2375 16.637 5.5 14.8565 5.5 13C5.5 11.1435 6.2375 9.36301 7.55025 8.05025C8.86301 6.7375 10.6435 6 12.5 6C14.3565 6 16.137 6.7375 17.4497 8.05025C18.7625 9.36301 19.5 11.1435 19.5 13C19.5 14.8565 18.7625 16.637 17.4497 17.9497C16.137 19.2625 14.3565 20 12.5 20ZM19.53 7.39L20.95 5.97C20.5 5.46 20.05 5 19.54 4.56L18.12 6C16.57 4.74 14.62 4 12.5 4C10.1131 4 7.82387 4.94821 6.13604 6.63604C4.44821 8.32387 3.5 10.6131 3.5 13C3.5 15.3869 4.44821 17.6761 6.13604 19.364C7.82387 21.0518 10.1131 22 12.5 22C17.5 22 21.5 17.97 21.5 13C21.5 10.88 20.76 8.93 19.53 7.39ZM11.5 14H13.5V8H11.5M15.5 1H9.5V3H15.5V1Z" fill="#014DBF"/>
              </svg>
              <p class="text3" >{{appointment.hour}}</p>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="progress-theraphy">
    <div class="title">
      <h3 id="example-name-label" class="example-name-label">Theraphy Progress</h3>
      <h3 class="example-value-label">{{valueProgress}}%</h3>
    </div>
      <mat-progress-bar mode="determinate" value="{{valueProgress}}" #slider></mat-progress-bar>

    </div>
    <div class="consultations" >
      <h3>Recent Diagnosis</h3>
    <div class="recent-diagnosis" *ngIf="lastDiagnosis$ | async as diagnosis">
      <div class="title">

        <h3>{{diagnosis.date}}</h3>
      </div>
      <div class="card-diagnosis">
        <p>{{diagnosis.diagnosis}}</p>
      </div>
    </div>
    <div class="recent-no-diagnosis card-diagnosis" *ngIf="!(lastDiagnosis$ | async)">
      <p>You don't have diagnoses yet</p>
    </div>
    </div>

    <!--<app-header></app-header>
    <div><div class="patients-infos">

      <div class="patient-info">
        <div class="patient-info_title">
          <h1 [routerLink]="['/medical-appointments']" >My Appointments ></h1>
        </div>
        <div class="patient-info_body">

          <ul>
            <div class="date" *ngFor="let appointment of appointments">
              <div class="date" *ngIf="appointment.patient.id == currentUser
                                    && appointment.done == false.toString()">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
                <li>
                  <h3>{{appointment.scheduledDate}}</h3>
                </li>
              </div>

            </div>


          </ul>
        </div>
      </div>


      <div class="patient-info">
        <div class="patient-info_title">
          <h1 [routerLink]="['/diagnosis']">Diagnosis ></h1>
        </div>
        <div class="patient-info_body">
          <ul>
            <div class="date" *ngFor="let appointment of appointments">
              <div *ngIf="appointment.patient.id == currentUser">
                <div class="date" *ngFor="let physiotherapist of physiotherapists">
                  <img *ngIf="appointment.physiotherapist.id == physiotherapist.id
                          && appointment.done"
                       :src="{{physiotherapist.photoUrl}}">
                  <li>
                    <h3 *ngIf="appointment.physiotherapist.id == physiotherapist.id
                          && appointment.done"
                        class="diagnosis">{{appointment.diagnosis}}</h3>
                  </li>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>


      <div class="patient-info">
        <div class="patient-info_title">
          <h1 [routerLink]="['/my-treatments']">My Treatments ></h1>
        </div>
        <div class="patient-info_body" >
          <ul>
            <div class="date" *ngFor="let treatment of myTreatments">
              <div  class="date" *ngIf="treatment.patient.id == currentUser">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="live_tv"></mat-icon>

                <li>
                  <h3>{{treatment.treatment.title}}</h3>
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>

    </div>

      <div class="progress">
        <div class="progress_title">
          <h1>My Progress ></h1>
        </div>
        <div class="progress_body" >
          <div class="progress-treatments" *ngFor="let treatment of myTreatments">
            <div class="progress-treatment" *ngIf="treatment.patient.id == currentUser">

              <img :src="{{treatment.treatment.photoUrl}}">

              <div class="progress-treatment_left">
                <h2>{{treatment.treatment.title}}</h2>

                <mat-progress-bar mode="determinate" value="{{treatment.progress}}">
                </mat-progress-bar>
                <h3>{{treatment.progress}}%</h3>
              </div>
            </div>
          </div>
        </div>
      </div></div>-->
  </div>
</div>


