<div class="page">
  <div class="sidenav">
    <app-sidenav></app-sidenav>
  </div>
  <div class="contents">
    <div>
      <h1>Physiotherapists</h1>
      <p>Find your ideal physiotherapist</p>

      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Physiotherapist</mat-label>

          <input matInput #inputSearch placeholder="John Doe" (keyup.enter)="filterPhysiotherapists(inputSearch.value)">
          <mat-icon color="primary" matSuffix class="search-icon" (click)="filterPhysiotherapists(inputSearch.value)">search</mat-icon>

          <!-- Aquí establecemos clearable en false para ocultar el botón de limpieza -->

        </mat-form-field>

      </form>

      <mat-divider></mat-divider>
      <mat-divider></mat-divider>

      <div class="cards">
        <!-- Utiliza *ngFor para crear una tarjeta para cada elemento de physiotherapists -->
        <mat-card class="example-card" *ngFor="let physiotherapist of physiotherapists">
          <div class="card-content">
            <img mat-card-md-image [src]="physiotherapist.photoUrl" alt="{{physiotherapist.user.firstname}}">
            <div class="card-details">
              <mat-card-title><span>{{physiotherapist.user.firstname + " " + physiotherapist.user.lastname}}</span></mat-card-title>
              <mat-card-subtitle>
                <span><strong>Specialization:</strong> {{physiotherapist.specialization}}</span>
              </mat-card-subtitle>
              <mat-card-subtitle class="rating-section">
                <mat-icon class="star-icon">star</mat-icon>
                <span><strong>{{physiotherapist.rating.toFixed(1)}} /5</strong></span>
              </mat-card-subtitle>
              <mat-card-subtitle class="view-profile-section">
                <span class="view-profile-text" (click)="viewDetailsById(physiotherapist.id)">
                  <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
                  <h2>View Profile</h2>
                </span>
              </mat-card-subtitle>
            </div>
            <div class="card-button">
              <div class="price-section">
                <h4>S/. {{physiotherapist.fees}}</h4>
                <h5>/consult.</h5>
              </div>
              <button mat-raised-button color="primary" class="book-now-btn"  [routerLink]="['/book-consultation',physiotherapist.id]">
                Book Now
              </button>
            </div>
          </div>
        </mat-card>

      </div>

    </div>
  </div>
</div>
