
<div class="page">
  <div class="sidenav">

  </div>
  <div class="contents">
    <div class="profile-header">
      <div class="profile-header_left">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 40 40" fill="none">
          <path d="M33.3333 18.3331V21.6665H13.3333L22.5 30.8331L20.1333 33.1998L6.93332 19.9998L20.1333 6.7998L22.5 9.16647L13.3333 18.3331H33.3333Z" fill="#014DBF"/>
        </svg>
        <h1>Physiotherapist's Profile</h1>
      </div>
    </div>

    <div class="flex-container">
      <img src="https://avatars.githubusercontent.com/u/89089619?v=4" alt="Italian Trulli">
      <div class="description">
        <h3>Dr. Crishtian Gómez</h3>
        <h4 class="text">Physiotherapist</h4>
      </div>
    </div>

    <div class="flex-container2">
      <div class="item">
        <div class="icon"><img src="assets/img/patient-icon.ico" alt=""></div>
        <div class="description">
          <h4 class="text">23</h4>
          <h4 class="text">Patients</h4>
        </div>
      </div>
      <div class="item">
        <div class="icon"><img src="assets/img/experience-icon.ico" alt=""></div>
        <div class="description">
          <h4 class="text">8 years</h4>
          <h4 class="text">Experience</h4>
        </div>
      </div>
      <div class="item">
        <div class="icon"><img src="assets/img/rating-icon.ico" alt=""></div>
        <div class="description">
          <h4 class="text">4.5</h4>
          <h4 class="text">Rating</h4>
        </div>
      </div>
      <div class="item">
        <div class="icon"><img src="assets/img/review-icon.ico" alt=""></div>
        <div class="description">
          <h4 class="text">10</h4>
          <h4 class="text">Reviews</h4>
        </div>
      </div>
    </div>


    <div class="section">
      <h2 class="section-title">Working Hours</h2>
      <div class="hours-days">
        <div class="day">
          <h3>Monday</h3>
          <h4>00:00 - 00:00</h4>
        </div>
        <div class="day">
          <h3>Tuesday</h3>
          <h4>00:00 - 00:00</h4>
        </div>
        <div class="day">
          <h3>Wednesday</h3>
          <h4>00:00 - 00:00</h4>
        </div>
        <div class="day">
          <h3>Thursday</h3>
          <h4>00:00 - 00:00</h4>
        </div>
        <div class="day">
          <h3>Friday</h3>
          <h4>00:00 - 00:00</h4>
        </div>
        <div class="day">
          <h3>Saturday</h3>
          <h4>00:00 - 00:00</h4>
        </div>
      </div>
    </div>
    <br>
    <div class="section">
      <h2 class="section-title">Reviews</h2>

      <div class="review-card">
        <div>
        <div class="card-title">
          <img src="https://avatars.githubusercontent.com/u/89089619?v=4" alt="Italian Trulli">
          <h3>Dr. Crishtian Gómez</h3>
        </div>
        <h4 class="card-description">Physiotherapist kjnsafjkaksjdjkajsdjkajd askdjkasjdkasj asjdkajskldja askdjlaksjdlka asdljalksjda asjdklasjd</h4>
        </div>
        <div class="review-stars">
          <mat-icon class="icon" >star</mat-icon> <span>5</span>
        </div>
      </div>


  </div>

    <div class="button-custom">
      <button class="button" mat-flat-button style="background-color: #014DBF !important; color: white;">Book Appointment</button>

    </div>

<br>
  </div>
</div>
