<div class="page">
  <div class="contents">
    <div><h1>Physiotherapists</h1>
      <p>Find your ideal physiotherapist</p>

      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Physiotherapist</mat-label>
          <input type="search" #inputSearch matInput placeholder="Jhon Doe">
          <mat-icon color="primary" matSuffix>search</mat-icon>
        </mat-form-field>

      </form>
      <mat-divider></mat-divider>
      </div>
  </div>
</div>
