.page {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.contents {
  width: 100%;
  height: 100%;
  margin-left: 48px;
  margin-right: 48px;
}
.sidenav {
  height: 100%;
}


/* Global Styles */

li{
  list-style: none;
}
h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 500;

}
h1,h3 {

  font-family: 'IBM Plex Sans', "Helvetica Neue", sans-serif;
}
mat-icon {
  cursor: pointer;
  font-size: 36px;
  width: 36px;
  height: 36px;
}
/* Profile Header */

.profile-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.profile-header_left{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

/* Profile Information */

.profile-info{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;


}

.profile-info img{
  width:300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 250px;

}



.profile-data{
  align-self: center;
  justify-items: center;
}

.profile-data-list {
  margin-top: 30px;
}

.profile-data-list li{
  display: flex;
  margin-bottom: 10px;
}

.profile-data-list h2{
  margin-left: 40px;
}




/* Options */

.example-card{
  margin-top: 20px;
  width:100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #007AF0;
}

.option-info{
  display:flex;
  align-items: center;


  width:50%;
}

.option-info img{
  width:75px;
  height:65px;
  margin-left:10px;
  margin-top: 10px;

}

.option-text{
  margin-left:8%;
}


