section{
  margin:40px 80px;
}
h1{
  color: #014DBF;
}
.title{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.profile{
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.profile img{
  width: 120px;
  height: 120px;
  border-radius: 10%;
  margin-right: 80px;
}

.name__profile{
  display: flex;
  flex-direction: column;
}
/*.form{*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  flex-wrap: wrap;*/
/*}*/

.form__section1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 20px;
}
.form__section2{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form__section2__two{
  display: flex;
  justify-content: space-around;
}
mat-form-field{
  border: 2px solid #014DBF;

}
.form__twosection{
    display: flex;
    justify-content: space-around;
}


.form__section3{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__section4{
  display: flex;
  flex-direction: column;
}

.form__button {
  display: flex;
  justify-content: center;

}
button{
  width: 20%;
  background-color: #014DBF;

}


.icons{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;
  /*justify-content: center;*/
  /*width: 100%;*/
}


/* Estilos para el círculo */
.circle {
  width: 80px;
  height: 80px;
  background-color: #B0D0FF; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que el elemento sea un círculo */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Espacio entre el círculo y el icono */
}

mat-form-field{
  border-color: #B0D0FF; /* Código de color celeste */
}

