<section>
  <h1>Book Appointment</h1>

  <h1>Dr. Cristian Gomez</h1>
  <h3>physioterapist</h3>

  <div class="icons">
    <div><mat-icon>account_circle</mat-icon></div>
    <div><mat-icon>work</mat-icon></div>
    <div><mat-icon>star</mat-icon></div>
    <div><mat-icon> rate_review</mat-icon></div>

  </div>


  <div class="form">

    <div class="form__twosection">
      <div class="form__section1">
        <h2>Day</h2>
        <mat-form-field appearance="outline">

          <input matInput placeholder="Placeholder">


        </mat-form-field>
      </div>

      <div class="form__section2">
        <h2>Time</h2>
        <mat-form-field appearance="outline">

          <input matInput placeholder="Placeholder">


        </mat-form-field>
      </div>
    </div>


    <div class="form__section3">
      <h2>location</h2>
      <mat-form-field appearance="outline">

        <input matInput placeholder="Placeholder">


      </mat-form-field>

    </div>

    <div class="form__section4">
      <h2>Topic</h2>
      <mat-form-field appearance="outline">

        <input matInput placeholder="Placeholder">


      </mat-form-field>

    </div>

    <div class="form__button">
      <button mat-button>Basic</button>
    </div>



  </div>


</section>
